# Incremental Data Loading

In [0]:
CREATE DATABASE Sales

In [0]:
CREATE TABLE Sales (
  id INT,
  order_date DATE,
  customer_id INT,
  customer_name VARCHAR(50),
  email VARCHAR(100),
  product_id INT,
  product_name VARCHAR(50),
  category VARCHAR(50),
  region_id INT,
  region_name VARCHAR(50),
  region_group VARCHAR(50),
  country VARCHAR(50),
  quantity INT,
  unit_price DECIMAL(10,2),
  total_price DECIMAL(10,2)
);

In [0]:
INSERT INTO Sales VALUES
(1, '2024-02-01', 101, 'Alice Johnson', 'alice@example.com', 201, 'Headphones', 'Accessories', 301, 'North America', 'USA', 'Canada', 2, 150.00, 300.00),
(2, '2024-02-02', 102, 'Bob Smith', 'bob@example.com', 202, 'Smartwatch', 'Electronics', 302, 'Asia', 'India', 'China', 1, 400.00, 400.00),
(3, '2024-02-03', 103, 'Charlie Brown', 'charlie@example.com', 203, 'Tablet', 'Electronics', 303, 'Asia', 'India', 'Japan', 3, 300.00, 900.00),
(4, '2024-02-04', 104, 'David Lee', 'david@example.com', 204, 'Gaming Console', 'Electronics', 304, 'Europe', 'France', 'Germany', 1, 500.00, 500.00),
(5, '2024-02-05', 105, 'Eve Adams', 'eve@example.com', 205, 'Laptop', 'Electronics', 305, 'North America', 'USA', 'Canada', 1, 800.00, 800.00),
(6, '2024-02-06', 106, 'Frank Miller', 'frank@example.com', 206, 'Monitor', 'Accessories', 306, 'Europe', 'Italy', 'Spain', 2, 250.00, 500.00),
(7, '2024-02-07', 107, 'Grace White', 'grace@example.com', 207, 'Keyboard', 'Accessories', 307, 'Asia', 'Japan', 'India', 3, 100.00, 300.00),
(8, '2024-02-08', 108, 'Hannah Green', 'hannah@example.com', 208, 'Mouse', 'Accessories', 308, 'Europe', 'Germany', 'France', 4, 50.00, 200.00),
(9, '2024-02-09', 109, 'Ian Scott', 'ian@example.com', 209, 'Printer', 'Electronics', 309, 'North America', 'USA', 'Mexico', 1, 600.00, 600.00),
(10, '2024-02-10', 110, 'Jane Cooper', 'jane@example.com', 210, 'Camera', 'Electronics', 310, 'Asia', 'China', 'Japan', 2, 450.00, 900.00),
(11, '2024-02-11', 111, 'Kyle Young', 'kyle@example.com', 211, 'Router', 'Electronics', 311, 'Europe', 'Spain', 'Italy', 1, 120.00, 120.00),
(12, '2024-02-12', 112, 'Laura King', 'laura@example.com', 212, 'Microphone', 'Accessories', 312, 'Asia', 'India', 'China', 2, 200.00, 400.00),
(13, '2024-02-13', 113, 'Mark Hill', 'mark@example.com', 213, 'Speaker', 'Electronics', 313, 'Europe', 'Germany', 'France', 3, 180.00, 540.00),
(14, '2024-02-14', 114, 'Nina Ross', 'nina@example.com', 214, 'Projector', 'Electronics', 314, 'North America', 'USA', 'Canada', 1, 700.00, 700.00),
(15, '2024-02-15', 115, 'Oscar Reed', 'oscar@example.com', 215, 'SSD', 'Accessories', 315, 'Asia', 'Japan', 'China', 2, 300.00, 600.00),
(16, '2024-02-16', 116, 'Paula Gray', 'paula@example.com', 216, 'Power Bank', 'Accessories', 316, 'Europe', 'Italy', 'Spain', 3, 90.00, 270.00),
(17, '2024-02-17', 117, 'Quinn Bell', 'quinn@example.com', 217, 'Webcam', 'Electronics', 317, 'North America', 'Mexico', 'USA', 2, 130.00, 260.00),
(18, '2024-02-18', 118, 'Rachel Fox', 'rachel@example.com', 218, 'Micro SD Card', 'Accessories', 318, 'Asia', 'India', 'Japan', 5, 40.00, 200.00),
(19, '2024-02-19', 119, 'Sam Ward', 'sam@example.com', 219, 'VR Headset', 'Electronics', 319, 'Europe', 'France', 'Germany', 1, 900.00, 900.00),
(20, '2024-02-20', 120, 'Tina Cole', 'tina@example.com', 220, 'Smart TV', 'Electronics', 320, 'Asia', 'China', 'India', 1, 1200.00, 1200.00);

num_affected_rows,num_inserted_rows
20,20

In [0]:
INSERT INTO Sales VALUES
(21, '2024-02-21', 121, 'Uma Patel', 'uma@example.com', 221, 'Drone', 'Electronics', 321, 'Asia', 'India', 'Singapore', 1, 950.00, 950.00),
(22, '2024-02-22', 122, 'Victor Shaw', 'victor@example.com', 222, 'Bluetooth Speaker', 'Accessories', 322, 'Europe', 'Germany', 'Italy', 3, 180.00, 540.00),
(23, '2024-02-23', 123, 'Wendy Brooks', 'wendy@example.com', 223, 'Fitness Tracker', 'Electronics', 323, 'North America', 'USA', 'Canada', 2, 220.00, 440.00),
(24, '2024-02-24', 124, 'Xavier Hunt', 'xavier@example.com', 224, 'External Hard Drive', 'Accessories', 324, 'Europe', 'France', 'Spain', 1, 350.00, 350.00),
(25, '2024-02-25', 125, 'Yvonne Long', 'yvonne@example.com', 225, 'Graphic Tablet', 'Electronics', 325, 'Asia', 'Japan', 'China', 1, 480.00, 480.00);

num_affected_rows,num_inserted_rows
5,5

In [0]:
select * from Sales

id,order_date,customer_id,customer_name,email,product_id,product_name,category,region_id,region_name,region_group,country,quantity,unit_price,total_price
1,2024-02-01,101,Alice Johnson,alice@example.com,201,Headphones,Accessories,301,North America,USA,Canada,2,150.00,300.00
2,2024-02-02,102,Bob Smith,bob@example.com,202,Smartwatch,Electronics,302,Asia,India,China,1,400.00,400.00
3,2024-02-03,103,Charlie Brown,charlie@example.com,203,Tablet,Electronics,303,Asia,India,Japan,3,300.00,900.00
4,2024-02-04,104,David Lee,david@example.com,204,Gaming Console,Electronics,304,Europe,France,Germany,1,500.00,500.00
5,2024-02-05,105,Eve Adams,eve@example.com,205,Laptop,Electronics,305,North America,USA,Canada,1,800.00,800.00
6,2024-02-06,106,Frank Miller,frank@example.com,206,Monitor,Accessories,306,Europe,Italy,Spain,2,250.00,500.00
7,2024-02-07,107,Grace White,grace@example.com,207,Keyboard,Accessories,307,Asia,Japan,India,3,100.00,300.00
8,2024-02-08,108,Hannah Green,hannah@example.com,208,Mouse,Accessories,308,Europe,Germany,France,4,50.00,200.00
9,2024-02-09,109,Ian Scott,ian@example.com,209,Printer,Electronics,309,North America,USA,Mexico,1,600.00,600.00
10,2024-02-10,110,Jane Cooper,jane@example.com,210,Camera,Electronics,310,Asia,China,Japan,2,450.00,900.00
11,2024-02-11,111,Kyle Young,kyle@example.com,211,Router,Electronics,311,Europe,Spain,Italy,1,120.00,120.00
12,2024-02-12,112,Laura King,laura@example.com,212,Microphone,Accessories,312,Asia,India,China,2,200.00,400.00
13,2024-02-13,113,Mark Hill,mark@example.com,213,Speaker,Electronics,313,Europe,Germany,France,3,180.00,540.00
14,2024-02-14,114,Nina Ross,nina@example.com,214,Projector,Electronics,314,North America,USA,Canada,1,700.00,700.00
15,2024-02-15,115,Oscar Reed,oscar@example.com,215,SSD,Accessories,315,Asia,Japan,China,2,300.00,600.00
16,2024-02-16,116,Paula Gray,paula@example.com,216,Power Bank,Accessories,316,Europe,Italy,Spain,3,90.00,270.00
17,2024-02-17,117,Quinn Bell,quinn@example.com,217,Webcam,Electronics,317,North America,Mexico,USA,2,130.00,260.00
18,2024-02-18,118,Rachel Fox,rachel@example.com,218,Micro SD Card,Accessories,318,Asia,India,Japan,5,40.00,200.00
19,2024-02-19,119,Sam Ward,sam@example.com,219,VR Headset,Electronics,319,Europe,France,Germany,1,900.00,900.00
20,2024-02-20,120,Tina Cole,tina@example.com,220,Smart TV,Electronics,320,Asia,China,India,1,1200.00,1200.00
21,2024-02-21,121,Uma Patel,uma@example.com,221,Drone,Electronics,321,Asia,India,Singapore,1,950.00,950.00
22,2024-02-22,122,Victor Shaw,victor@example.com,222,Bluetooth Speaker,Accessories,322,Europe,Germany,Italy,3,180.00,540.00
23,2024-02-23,123,Wendy Brooks,wendy@example.com,223,Fitness Tracker,Electronics,323,North America,USA,Canada,2,220.00,440.00
24,2024-02-24,124,Xavier Hunt,xavier@example.com,224,External Hard Drive,Accessories,324,Europe,France,Spain,1,350.00,350.00
25,2024-02-25,125,Yvonne Long,yvonne@example.com,225,Graphic Tablet,Electronics,325,Asia,Japan,China,1,480.00,480.00

# Data WareHousing

In [0]:
CREATE DATABASE SalesDWH

### Staging

In [0]:
--Initial Load--

CREATE OR REPLACE TABLE salesdwh.stg_sales
AS
SELECT * FROM sales
WHERE order_date > '2024-02-19'

In [0]:
select * from salesdwh.stg_sales

id,order_date,customer_id,customer_name,email,product_id,product_name,category,region_id,region_name,region_group,country,quantity,unit_price,total_price
20,2024-02-20,120,Tina Cole,tina@example.com,220,Smart TV,Electronics,320,Asia,China,India,1,1200.00,1200.00
21,2024-02-21,121,Uma Patel,uma@example.com,221,Drone,Electronics,321,Asia,India,Singapore,1,950.00,950.00
22,2024-02-22,122,Victor Shaw,victor@example.com,222,Bluetooth Speaker,Accessories,322,Europe,Germany,Italy,3,180.00,540.00
23,2024-02-23,123,Wendy Brooks,wendy@example.com,223,Fitness Tracker,Electronics,323,North America,USA,Canada,2,220.00,440.00
24,2024-02-24,124,Xavier Hunt,xavier@example.com,224,External Hard Drive,Accessories,324,Europe,France,Spain,1,350.00,350.00
25,2024-02-25,125,Yvonne Long,yvonne@example.com,225,Graphic Tablet,Electronics,325,Asia,Japan,China,1,480.00,480.00

### Transformation

In [0]:
SELECT * FROM salesdwh.stg_sales WHERE quantity IS NULL

In [0]:
CREATE OR REPLACE VIEW salesdwh.trans_sales
AS
SELECT * FROM salesdwh.stg_sales

In [0]:
select * from salesdwh.trans_sales

id,order_date,customer_id,customer_name,email,product_id,product_name,category,region_id,region_name,region_group,country,quantity,unit_price,total_price
20,2024-02-20,120,Tina Cole,tina@example.com,220,Smart TV,Electronics,320,Asia,China,India,1,1200.00,1200.00
21,2024-02-21,121,Uma Patel,uma@example.com,221,Drone,Electronics,321,Asia,India,Singapore,1,950.00,950.00
22,2024-02-22,122,Victor Shaw,victor@example.com,222,Bluetooth Speaker,Accessories,322,Europe,Germany,Italy,3,180.00,540.00
23,2024-02-23,123,Wendy Brooks,wendy@example.com,223,Fitness Tracker,Electronics,323,North America,USA,Canada,2,220.00,440.00
24,2024-02-24,124,Xavier Hunt,xavier@example.com,224,External Hard Drive,Accessories,324,Europe,France,Spain,1,350.00,350.00
25,2024-02-25,125,Yvonne Long,yvonne@example.com,225,Graphic Tablet,Electronics,325,Asia,Japan,China,1,480.00,480.00

### Core Layer

In [0]:
CREATE OR REPLACE TABLE salesdwh.core_sales
AS
SELECT * FROM salesdwh.trans_sales

### DataWarehouse Core Layer Display

In [0]:
SELECT * FROM salesdwh.core_sales;

id,order_date,customer_id,customer_name,email,product_id,product_name,category,region_id,region_name,region_group,country,quantity,unit_price,total_price
20,2024-02-20,120,Tina Cole,tina@example.com,220,Smart TV,Electronics,320,Asia,China,India,1,1200.00,1200.00
21,2024-02-21,121,Uma Patel,uma@example.com,221,Drone,Electronics,321,Asia,India,Singapore,1,950.00,950.00
22,2024-02-22,122,Victor Shaw,victor@example.com,222,Bluetooth Speaker,Accessories,322,Europe,Germany,Italy,3,180.00,540.00
23,2024-02-23,123,Wendy Brooks,wendy@example.com,223,Fitness Tracker,Electronics,323,North America,USA,Canada,2,220.00,440.00
24,2024-02-24,124,Xavier Hunt,xavier@example.com,224,External Hard Drive,Accessories,324,Europe,France,Spain,1,350.00,350.00
25,2024-02-25,125,Yvonne Long,yvonne@example.com,225,Graphic Tablet,Electronics,325,Asia,Japan,China,1,480.00,480.00